@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cinzel+Decorative&family=Megrim&family=Uncial+Antiqua&display=swap');

.nav-bar {
    display: flex;
    align-items: center;
    height: 50px;
    position: absolute;
    width: 100vw;
    color: white;
    font-size: 18px;
}

.nav-bar ul {
    display: flex;
    width: 100%;
    justify-content: end;
}

.nav-bar a:hover {
    color: black;
}

.nav-bar-link {
    margin-right: 12px;
    text-decoration: none;
    font-family: 'Cinzel Decorative', cursive;
}

.nav-bar-link:visited {
    color: inherit;
}

.nav-bar-link h1 {
    font-size: inherit;
}

.logo-section {
    display: flex;
    width: 750px;
    margin-left: 12px;
    margin-right: 40%;
}

.logo-section a:hover {
    color: white;
}
