@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cinzel+Decorative&family=Megrim&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=PT+Serif&display=swap');

/* Global */
* {
    margin: 0;
    scroll-behavior: smooth;
}

/* Home Page  */
.home-page {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 75%,
            rgba(255, 255, 255, 1) 100%
        ),
        url('./assets/images/forge.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.home-page-content {
    margin: auto;
    margin-right: 10%;
    text-align: end;
    font-size: 3rem;
}

.home-page p {
    color: white;
    font-family: 'PT Serif', serif;
}

/* Projects Page */
.projects-page {
    height: 100vh;
    width: 100vw;
}

.projects-page h1 {
    font-family: 'Koulen', cursive;
    margin: auto;
}

/* About Page */
.about-page {
    height: 100vh;
    width: 100vw;
    background-color: limegreen;
}

.about-page h1 {
    font-family: 'Koulen', cursive;
}
